<%= form_tag(report_abuse_answer_path(@answer), :id => 'report_abuse_form_'+answer.id.to_s()+'', :style => 'display:none', :remote => false) do %>
  <div class="field">
    <input type="hidden" name="answer_id" value="<%= answer.id %>" />
    <%= label_tag :text, 'Message to report' %> <br />
    <%= text_field_tag :text %>
  </div>
  <div class="actions">
    <%= submit_tag 'Send' %>
    <span class="reportAbuse" onclick="$('#report_abuse_form_<%= answer.id %>').slideUp()">Cancel</span>
  </div>
<% end %>

